.header
    position: fixed
    height: 60px
    top: 0
    width: 100%
    max-width: 100%
    left: 0
    right: 0
    box-shadow: var(--color-divider) 0px 1px 1px
    z-index: 3000
    background-color: var(--color-surface)
    .wrapper
        display: flex
        align-items: center
        justify-content: space-between
        max-width: 100%
        padding: 0 24px
        height: 100%
    .search
        flex-basis: 40%
        @media ( max-width: 768px )
            flex-basis: 60%
    .menuBtn
        cursor: pointer
        font-size: 24px
        color: var(--color-primary)
        transition: all ease 150ms
        &:hover
            color: var(--color-primary-lighter)
